<mat-toolbar fxLayout="column" fxLayoutAlign="center start" class="toolbar-banner">
  <div fxLayout="column" fxLayoutGap="5px">
    <h1 class="mat-display-4">{{mainTitle}}</h1>
    <h2 class="mat-display-3">{{subTitle}}</h2>
  </div>
</mat-toolbar>
<mat-toolbar fxLayoutAlign="center end" class="toolbar-tabs mat-elevation-z4">
  <my-tabs class="tabs"></my-tabs>
</mat-toolbar>

<div fxLayout="column" class="router-outlet">
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="toolbar-footer mat-elevation-z4">

</mat-toolbar>
