.mat-display-4 {
  font-size: 60px;
  font-weight: 100;
  color: white;
  opacity: 0.9;
}

.mat-display-3 {
  font-size: 20px;
  font-weight: 100;
  color: white;
  opacity: 0.9;
}

.toolbar-tabs {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  background-color:transparent;  
}

.toolbar-tabs-dark {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10000;
  background-color:#212121;  
}

.toolbar-tabs.active {
  background: #212121;
}

.router-outlet {
}

.toolbar-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background: #212121;
  height: 150px;
}
