a {
  color: rgba(255, 255, 255, 0.6) !important;
  text-transform: uppercase;
}

a.active {
  color: white !important;
}

.login-button {
	background-color: #2fb0ea; 
	color: white !important;
}
